<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="exp-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png" alt="LOGO" height="30" width="30">
    <span>Youtube API</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button aria-label="Youtube Search Button">
      <mat-icon aria-hidden="false" aria-label="Youtube Search">youtube_searched_for</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>  

<router-outlet></router-outlet>