.container-result
    display: flex
    flex-wrap: wrap
    align-content: space-between

.mat-card
    width: calc(100% / 8)
    margin: 0 auto

.header-image
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
    background-size: cover